<% layout ('layout/boilerPlate') %>

<div class="container mt-5">
  <div class="container mt-4">
    <h1 class="text-center mb-4">All Campgrounds</h1>
    <div class="text-center mb-3">
        <a href="/campgrounds/newcamp" class="btn btn-primary btn-lg">ADD NEW CAMP</a>
    </div>
    <!-- Additional content can go here -->
</div>

</div>
    <div class="container">
        <div class="row">
          <% for(let campgrounds of camp) { %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img src="<%= campgrounds.image %>" class="card-img-top" alt="Campground image">
                <div class="card-body">
                  <h3 class="card-title"><%= campgrounds.title %></h3>
                  <h5><%= campgrounds.location %></h5>
                  <p class="card-text"><small><%= campgrounds.description %></small></p>
                  <a href="/campgrounds/<%= campgrounds._id %>" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      